.auth-container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.welcome-section {
    margin-bottom: 20px;
}

.welcome-section img {
    width: 100px;
    margin-bottom: 10px;
}

.welcome-section h2 {
    color: #ff6600;
}

.error {
    color: red;
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e65c00;
}
.input-field-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* Space for eye icon */
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); /* Centers the icon */
    cursor: pointer;
    font-size: 18px;
}
